{
  "presets": [
    // ["es2015", { "modules": false }]
  ],
  "plugins": [
    "transform-flow-strip-types",
    "transform-class-properties",
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ],
  "env": {
    "commonjs": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}