{
  "presets": [
    // ["es2015", { "modules": false }]
  ],
  "plugins": [
    "transform-flow-strip-types",
    "transform-exponentiation-operator",
    ["transform-es2015-for-of", {
      "loose": true
    }],
    "transform-class-properties",
    "transform-async-to-generator",
    // ["transform-async-to-module-method", {
    //   "module": "bluebird",
    //   "method": "coroutine"
    // }],
    ["transform-es2015-block-scoping", {
      "throwIfClosureRequired": true
    }],
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    "closure-elimination"
  ],
  "env": {
    "commonjs": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}