.DS_Store
.idea
.publish
*.sublime-workspace
.vscode
*.*~
*.swp

lib/**
es/**
dist/**
debug.log
node_modules
npm-debug.log
cldr
coverage/
.nyc_output
dist/**
logs/**
typings.json
typings/**
src/**/*.draft.js
